multiuser.screen
.zsh/.zcompdump
.zsh/auto-fu

.lein/self-installs
.lein/repl-history
.lein/indices

# emacs
*\#
.emacs.d/auto-save-list
.emacs.d/url
.emacs.d/var
.emacs.d/elpa/*
!.emacs.d/elpa/.gitkeep

.emacs.d/eshell/history

.emacs.d/ac-comphist.dat
.emacs.d/projectile-bookmarks.eld
.emacs.d/tramp
.emacs.d/bookmarks
.emacs.d/abbrev_defs
.emacs.d/saveplace.log

.emacs.d/custom.el
.emacs.d/ircconf.el

.DS_Store
/.emacs.d/.mc-lists.el

# Vimperator local machine settings
.vimperator/info
