[user]
	name = takuyahashimoto
	email = takuya21hashimoto@gmail.com

[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    grep = auto


[core]
    autocrlf = input

[alias]
    log-g = log --graph --pretty=format:'%Cblue%h %Cgreen%ci %Cblue%m %Creset%s'
    co = checkout
