[user]
    name  = thash
    email = hash@hzl.jp

[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    grep = auto

[core]
  autocrlf = input
  editor = vim
  quotepath = false

[log]
  date = iso

[alias]
    l  = log --stat --pretty=format:'%Cblue%h %Cgreen%cd %Cred%an %Creset%s %Cred%d%Creset'
    lr = log --graph --pretty=format:'%Cblue%h %Cgreen%ci %Cred%an %Cblue%m %Creset%s %Cred%d%Creset'
    lo = log --date=short --graph --decorate --pretty=format:'%Cblue%h %Cgreen%cd %Cred%an %Creset%s %Cred%d'
    st = status -s -b
    br = branch
    co = checkout
    r = remote -v
    re = remote -v
    a = add
    c = commit
    s = show
    f = fetch
    g = grep
    cherry = cherry -v
    # diff
    d  = diff
    dm = diff master
    dc = diff --cached
    d1 = diff HEAD~
    d2 = diff HEAD~~
    d3 = diff HEAD~~~
    d4 = diff HEAD~~~~
    d5 = diff HEAD~~~~~
[apply]
  whitespace = nowarn
[diff]
	algorithm = patience
[push]
	default = simple
[pull]
[grep]
  lineNumber = true

[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less

[tig "bind"]
  generic = g move-first-line
  generic = G move-last-line

[credential]
  helper = !aws codecommit credential-helper $@
  UseHttpPath = true

[include]
  path = .gitconfig.local
