multiuser.screen
.zsh/.zcompdump
.zsh/auto-fu

.lein/self-installs
.lein/repl-history

# emacs
.emacs.d/auto-save-list
.emacs.d/elpa/*
!.emacs.d/elpa/.gitkeep
.emacs.d/plugins/*
!.emacs.d/plugins/.gitkeep

.emacs.d/ac-comphist.dat