[submodule "zsh-manydots-magic"]
	path = zsh-manydots-magic
	url = git://github.com/knu/zsh-manydots-magic.git
[submodule ".zsh/zsh-manydots-magic"]
	path = .zsh/zsh-manydots-magic
	url = git://github.com/knu/zsh-manydots-magic.git
[submodule ".zsh/auto-fu"]
	path = .zsh/auto-fu
	url = https://github.com/hchbaw/auto-fu.zsh.git
