[user]
	name = Hash
	email = takuya21hashimoto@gmail.com

[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    grep = auto


[core]
    autocrlf = input
	editor = /usr/bin/vim
	quotepath = false

[alias]
    loggr = log --graph --date-order --pretty=format:'%Cblue%h %Cgreen%ci %Cred%an %Cblue%m %Creset%s %Cred%d'
    logg = log --stat --pretty=format:'%Cblue%h %Cgreen%ar %Cred%an %Creset%s %Cred%d'
    logn = log --stat --pretty=format:'%Cblue%h %Cgreen%ar %Cred%an %Creset%s %Cred%d'
    logo = log --oneline --decorate
    st = status -s -b
    br = branch
    co = checkout
    r = remote -v
    re = remote -v
    a = add
    c = commit
    s = show
    f = fetch
    g = grep
    # diff
    d  = diff
    dm = diff master
    dc = diff --cached
    d1 = diff HEAD~
    d2 = diff HEAD~~
    d3 = diff HEAD~~~
    d4 = diff HEAD~~~~
    d5 = diff HEAD~~~~~
[apply]
  whitespace = nowarn
[push]
  default = tracking
[pull]
  rebase = true
